@media (min-width: 960px) {
  #main-container {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
  }
}
.auth-sidebar {
  background-color: var(--white);
  position: relative;
  color: #000;
}
@media (min-width: 960px) {
  .auth-sidebar {
    width: 450px;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }

  .auth-sidebar,
  .forgot-password .auth-sidebar,
  .reset-password .auth-sidebar {
    background: #f1cdd7 !important;
    color: #865c6c !important;
  }

  .auth-sidebar {
    background: #f2d184;
    color: #866118;
  }
}

@media (min-width: 1100px) {
  .auth-sidebar {
    width: 514px;
  }
}

@media (min-width: 960px) {
  .auth-sidebar .auth-sidebar-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
}

.auth-sidebar a {
  color: inherit;
  text-decoration: underline;
}

.auth-sidebar header {
  margin: 0 auto;
  max-width: 416px;
  padding: 48px 20px 0;
  text-align: left;
}

@media (min-width: 960px) {
  .auth-sidebar header {
    max-width: 100%;
    margin: 0;
    padding: 40px 40px 30px;
  }
}

@media (min-width: 1100px) {
  .auth-sidebar header {
    padding: 64px 64px 30px;
  }
}

.auth-sidebar header .logo {
  display: block;
  margin-bottom: 30px;
}

@media (min-width: 960px) {
  .auth-sidebar header .logo {
    opacity: 0.7;
  }

  .auth-sidebar header .logo:hover {
    opacity: 0.9;
  }
}

.auth-sidebar header .dribbble-logo {
  fill: currentColor;
  color: inherit;
  width: 90px;
  height: auto;
}

.auth-sidebar header h1 {
  color: inherit;
  display: none;
}

@media (min-width: 960px) {
  .auth-sidebar header h1 {
    display: block;
    padding-right: 30px;
  }
}

@media (max-height: 850px) {
  .auth-sidebar header h1 {
    font-size: 25px;
    line-height: 30px;
  }
}

.auth-sidebar .artwork {
  display: none;
}

@media (min-width: 960px) {
  .auth-sidebar .artwork {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

.auth-sidebar .artwork .artwork-image {
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

@media (max-width: 961px), (max-height: 730px) {
  .auth-sidebar .artwork .artwork-image {
    display: none;
  }
}

@media (min-height: 960px) {
  .auth-sidebar .artwork .artwork-image {
    max-height: 70%;
  }
}

.auth-sidebar .artwork .artwork-image {
  background-image: url("https://cdn.dribbble.com/assets/auth/sign-in-a63d9cf6c1f626ccbde669c582b10457b07523adb58c2a4b46833b7b4925d9a3.jpg");
}

.content {
  width: 100%;
}

@media (min-width: 960px) {
  .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
  }
}

.main-content-sidebar {
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--white)!important;
}

@media (min-width: 960px) {
  .main-content-sidebar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }
}

.auth-content {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.auth-content-title {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 2.8rem;
}

.auth-content-title.forgot-title {
  margin-bottom: 1rem;
}

@media (min-width: 960px) {
  .auth-content {
    padding: 30px 60px 0;
    margin: 0;
  }
  .auth-content-title {
    text-align: left;
    font-weight: 800;
    font-size: 1.5rem;
  }
}

.btn-google .ant-image {
  vertical-align: sub!important;
}

.btn-signin {
  width: 50%!important;
}

@media (max-width: 959px) {
  .btn-signin {
    width: 100%!important;
  }
}

.input-with-right-child label {
  width: 100%!important;
}
