.header-dashboard {
  margin-bottom: 20px;
}
.header-date {
  color: #93999E!important;
}
.apexcharts-canvas {
  width: 100% !important;
}
.apexcharts-canvas, .apexcharts-canvas svg {
  width: 100% !important;
  /* height: 100% !important; */
}
.chart {
  width: 100% !important;
  height: 100% !important;
}
.card-dashboard .ant-card-body {
  height: 100% !important;
}
.tag-condition {
  float: right;
  color: #ffffff!important;
  border: 0px !important;
  border-radius: 1rem !important;
  margin-right: 0px !important;
  padding: 1px 10px!important;
}
.tag-condition.good{
  background-color: #2ecc71!important;
}
.tag-condition.medium{
  background-color: #ffb142!important;
}
.tag-condition.bad{
  background-color: #ff3838!important;
}
