.ant-layout-sider {
  background: var(--white)!important;
}
.ant-layout-sider-trigger {
  margin: 15px;
  border-radius: 1rem;
}

.ant-layout-sider-light .ant-layout-sider-trigger {
  color: var(--white)!important;
  background: var(--purple)!important;
}

.ant-layout-sider-has-trigger .ant-layout-sider-trigger {
  width: 170px!important;
}

.ant-layout-sider-collapsed.ant-layout-sider-has-trigger .ant-layout-sider-trigger{
  width: 50px!important;
}

.ant-layout-sider-has-trigger {
  padding-bottom: 78px!important;
}

.ant-layout-sider-children {
  padding: 15px!important;
}

.ant-menu-inline {
  border-right: unset !important;
}

.ant-menu-inline-collapsed {
  width: 50px!important;
}

.ant-menu-inline .ant-menu-item {
  padding-right: 15px!important;
}

.ant-menu-inline .ant-menu-item::after, .ant-menu-vertical, .ant-menu-vertical .ant-menu-item::after{
  border-right: unset !important;
}

.ant-menu {
  color: #93999E!important;
}

.ant-menu-item-selected {
  color: #07091A!important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: #07091A!important;
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%!important;
}
.ant-menu-item {
  border-radius: .8rem;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  font-weight: 600!important;
  background-color: #f0f1f2!important;
}

.ant-menu-item:active, .ant-menu-submenu-title:active {
  background: #f0f1f2!important;
}

.ant-menu-vertical .ant-menu-item:not(:last-child), .ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 4px!important;
}

.logo {
  padding-top: 1rem;
  padding-bottom: 15px;
  font-size: 1.1rem;
}

.main-layout {
  padding: 25px;
}
