.overlay-drawer-mask {
  backdrop-filter: blur(1.3px);
  background-color: rgba(0, 0, 0, 0.45);
}

.ant-drawer-content {
  border-top-left-radius: 1rem!important;
  border-top-right-radius: 1rem!important;
}

.drawer-setting .ant-drawer-content-wrapper {
  /* left: calc(100% / 4) !important; */
  left: 50%!important;
  margin: 0 auto !important;
  width: 100% !important;
  transform: translate(-50%, 0%);
}

@media screen and (min-width: 1600px){
  .drawer-setting .ant-drawer-content-wrapper {
    width: 40vw !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .drawer-setting .ant-drawer-content-wrapper {
    width: 50vw !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .drawer-setting .ant-drawer-content-wrapper {
    width: 60vw !important;
  }
}
